name: notify_movie_upcoming

on:
    push:
        branches: [ develop ]
jobs:
    notify_job:
        runs-on: ubuntu-18.04
        name: Notify
        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                repository: k-udmrorrr1414/Apartment
                path: Apartment
            - name: Pwd
              run: |
                pwd
                ls
            # - name: Build
            # ã€€run: |
            #     export GOPATH=$HOME/work/Apartment/Apartment/api
            #     go env GOPATH
